.slider {
  width: 100%;
  height: calc(var(--imageWidth) + 8px + 28px);
  position: relative;
  margin-bottom: var(--gap);
  &:last-of-type {
    margin-bottom: 0;
  }
}

.list {
  position: relative;
  left: calc(var(--imageWidth) * -3);
  height: 100%;
}

.member_ {
  padding-inline: calc(var(--gap) / 2);
  position: absolute;
}
.member {
  padding: 8px 8px 28px;
  background-color: #fff;
}

.member figure {
  width: var(--imageWidth);
  aspect-ratio: 1;
}

.member img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  background-color: inherit;
}
