@import "../../styles/variables.module";

.expertise{
    margin-top:-100px;
    margin-bottom:248px ;
    // background-color: $bg-color-dark;
    background:linear-gradient(#F4F3EF 50%,transparent 50%);
     .expBgWrap{
        // height: 100vh;
        // min-height: 740px;
        min-height: 100vh;
        width: 100vw;
        position: relative;
        color:$primary-color-light;

        .wrapper{
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 1000;
            display: flex;

            // //new part
            // background-color: rgba(0,0,0,0.5);
            // background-position: center;
            // background-size: cover;
            // background-repeat: no-repeat;

           



            // // end of new part
            .loaderContainer{

                height: 100%;
                width: 20%;
                overflow: hidden;
                .loader{
                    background-color: $bg-color-dark;
                    width: 100%;
                    background-size:cover;
                    height:100%;
                    // background-position:0vw 100vh;
                    background-position:0% 100%;
                    // background-repeat: no-repeat;
                    // mask-image: url(../../public/imgs/bw.png);
                }
            }
            .loaderContainer:nth-child(2){
                .loader{
                    background-color: $bg-color-dark;
                    transition-delay: 100ms;
                    background-size:cover;
                    // background-position:-20vw 100vh;
                    background-position:25% 100%;
                }
            }
            .loaderContainer:nth-child(3){
                .loader{
                    background-color: $bg-color-dark;
                    transition-delay: 200ms;
                    // background-position:-40vw 100vh;
                    background-position:50% 100%;

                    background-size:cover;
                }
            }
            .loaderContainer:nth-child(4){
                .loader{
                    background-color: $bg-color-dark;
                    transition-delay: 300ms;
                    // background-position:-60vw 100vh;
                    background-position:75% 100%;
                    background-size:cover;
                }
            }
            .loaderContainer:nth-child(5){
                .loader{
                    background-color: $bg-color-dark;
                    transition-delay: 400ms;
                    // background-position:-80vw 100vh;
                    background-position:100% 100%;

                    background-size:cover;
                }
            }
        }

        .expBgText {       
            text-align: center;
            padding: $y-padding 0;
            min-height:640px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            position: absolute;
            width: 100%;
            height: 100%;
            top:0;
            h1{
                width:100%;
                line-height: 52.8px;
                font-weight: 400;
                font-size: 48px;
            }
            .elements{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-self: center;
                height:100%;
                align-items: center;
                ul{
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    margin-bottom: 12px;
                    li{
                        display: inline-block;
                        font-size: 40px;
                        line-height: 40px;
                        padding:0 16px;
                        cursor: pointer;
                        font-family: "GT Super Display";
                    }
                    li.active{
                        color:$active-color;
                        text-decoration: underline;
                    }
                }
                p{
                    width:50%;
                    margin:16px auto;
                    margin-bottom: 40px;
                }
                .myBtn{
                    width:100%;
                    margin-top:32px;
                    text-align: center;
                }
            }
        }
    }  
      
  
}


@media(min-width:200px) and (max-width:800px){

.expertise{
    // background-image: url(../public/imgs/mobile/expertbgM.png);
    margin-bottom: 0;
    margin-top: 0;
    .elements{
        padding: 24px 0;
    }
    .expBgWrap{
        min-height: auto;   
    }
    h1{
        margin-bottom: $y-padding;
        font-size: 28px!important;
        line-height: 30.8px!important;
    }
    li{
        width:100%;
        margin-bottom:24px;
        font-size: 28px!important;
        line-height: 28px!important;
    }
    p{
        width:100%!important;
    }
    button{
        padding: 10px 32px!important;
    }
}
}
