@import "../../styles/variables.module";

.footer{
    padding:$y-padding 24px;
    padding-bottom: 0px;
    background-color: $bg-color-light;
    color:$primary-color-dark;
    position: relative;
    bottom: 0;
    left:0;
    width:100%;
    min-height:500px;
    margin-top:100px;
    z-index: -1;
    transition: all .5s ease;
    *{
        font-family: "Suisse Int'l bold";
    }
    .footer_parent{
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        // min-height:54vh ;
        height: 380px;
        margin-top:0;
        padding-top: 0;
        justify-content: space-between;

    }
    .locations{
        // background-color: red;
        // height: 250px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .location{
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 19.2px;
        span{
            display: block;
            margin-bottom: 2px;
        }
        p{
            font-size:12px ;
            // line-height: 14px;
        }
    }
    p.tel{
        margin:0;
    }

    .update{
        padding:0 72px;
        .inpt_wrapper{
            margin-top:40px;
            position: relative;
            button{
                position: absolute;
                top:8px;
                right:-8px;
                width: 5px;
                background-color: transparent!important;
            }
            button:hover{
                background-position: 0!important;
                background-color: transparent!important;
            }
            button:focus{
                outline: none;
            }
            .chev_right{
                border-style: solid;
                border-width: 1px 1px 0 0;
                content: '';
                display: inline-block;
                height: 8px;
                vertical-align: top;
                width: 8px;
	            transform: rotate(45deg);
                opacity:.7
            }
            input{
                width:100%;
                border:none;
                border-bottom: 1px solid #000;
                padding:8px 12px;
                padding-left: 0;
                background-color: transparent;
                font-size: 18px;
            }
            input::placeholder{
                color:$primary-color-dark;
                opacity: .7;
            }
            input:focus-visible{
                outline: none;
            }
        }
    }
    .touch{
        // text-align: center;
        padding: 0 4px;
        // margin-right: 40px;
        line-height: 21px;
        button{
            background-color: transparent!important;
            border:1px solid #000!important;
        }
    }

    .bottom{
        display: flex;
        font-size: 12px;
        width: 100%;
        justify-content: space-between;
        // align-self: flex-end;
        padding-right: 2.5vw;
        // margin-top:100px;
        // margin-top:2vh;
        p{
            margin: 0 !important;
            a{
                cursor: pointer;
            }
        }
    }
    .poly{
        position: absolute;
        top:-86px;
        right:0;
        background-color: $bg-color-light;
        border:none;
        // background-color: red;
        // border-top:1px solid red ;
        width:103%;
        height:88px;
        clip-path: polygon(78% 10%, 0% 100%, 102% 100%);

    }
}
// @media (min-width:1900px) and (max-width:3000px){
//     .footer{
//         height:42vh;
//         font-size: 32px;
//         .location{
//             p{
//                 font-size: 24px;
//             }
//         }
//         .bottom{
//             font-size: 24px;
//         }
      
//     }
// }

// @media(min-height:921px) and (max-height:2000px){
//     .footer{
//         height: 46vh;
//     }

// }


@media(min-width:200px) and (max-width:600px){
    .footer{
        // position: relative;
        // z-index: 10;
        min-height: 870px;
        padding-block: 16px;
        .touch{
            text-align: start;
            padding: 16px 0;
            margin-bottom:8px;
            font-size: 14px;
            button{
                font-size: 12px;
                background-color: #CEE0A6!important;
                border:none!important;
            }
        }
        .location{//hide the desktop view
            display: none;
        }
        .mobile_locations{
            margin: 24px 0;
            .accordion{
                div{
                    border:none;
                    background-color: transparent;
                    div{
                        padding:0;
                        position: relative;
                    }
                }
                h2{
                    border:none;
                    background-color: transparent!important;
                    button{
                        background-color:transparent!important ;
                        color:$primary-color-dark;
                        padding:8px 24px 0 !important ;
                        font-size:14px;
                        line-height: 17px;
                        position: relative;
                        box-shadow: none;
                    }
                    button:focus{
                        outline: 0!important;
                        box-shadow: none;
                    }
                    button::after{
                        position: absolute;
                        // content:'\2039';
                        // font-size: 20px;
                        background-image: none;
                        // transform: rotate(270deg) translateX(5px); 
                        height: 8px;

        
                        width: 8px;
        
                        transform: rotate(132deg);
                        
                        border:solid black ;
                        border-width: 1px 1px 0 0;

                        left:0; 
                        top:10px;
                    }
                    button:hover{
                        background-position: 0%;
                    }
                    button[aria-expanded="true"]{
                        color:#C66F2C;
                    }
                    button[aria-expanded="true"]::after{
                        // transform: rotate(90deg) translate(9px ,3px);
                        transform: rotate(-46deg);
                        border:solid #C66F2C ;
                        border-width: 1px 1px 0 0;
                    }
        
                  
                }
                .acc_body{
                    padding:8px 24px;
                    color:$primary-color-dark;
                    font-size: 12px;
                    line-height: 14px;
                    p{
                        margin:6px 0 ;
                    }
                }
               
            }
        }
        .update{
            text-align: start;
            padding:12px 0;
            span{
                font-size: 14px;
            }
            .inpt_wrapper{
                margin-top: 16px;
                input{
                    padding-left:0;
                    font-size:14px ;
                }
                input:focus-visible{
                    outline: none;
                }
            }
        }
    }
    .bottom{
        flex-wrap: wrap;
        text-align: center;
        margin-top: 72px!important;
        p{
            width:100%;
            padding:4px;
        }
    }
    .footer_row{
        flex-direction: column-reverse;
    }
}