.hph {
  height: 70px;
  background-color: #0e0e0e;
  margin-bottom: 40px;
  @media (width < 800px) {
    height: 58px;
  }
}
.groupMembers {
  background-color: #0e0e0e;
  padding-bottom: 24px;
  color: white;
}
.groupMembers h2 {
  position: relative;
  text-align: center;
  font-size: clamp(0px, 6.5vw, 96px);
  font-weight: bold !important;
  margin-bottom: 0;
  line-height: 1.1;
  z-index: 2;
  @media (width < 1000px) {
    font-size: clamp(0px, 7.5vw, 96px);
  }
  @media (width < 800px) {
    margin-block: 24px;
  }
}
