.hph {
  height: 70px;
  background-color: #3f3f21;
  margin-bottom: 40px;
  @media (width < 800px) {
    height: 58px;
  }
}
.groupMembers {
  background-color: #3f3f21;
  padding-bottom: 40px;
  color: white;
  position: relative;
}

.groupMembers h1 {
  width: 100%;
  position: absolute;
  top: calc(50% + 50px);
  transform: translateY(-50%);
  text-align: center;
  font-size: clamp(0px, 6vw, 64px);
  font-weight: bold !important;
  margin-bottom: 0;
  line-height: 1.1;
  z-index: 2;
  @media (width < 1000px) {
    font-size: clamp(0px, 7.5vw, 64px);
  }
}
.members {
  filter: grayscale(40%);
  filter: brightness(80%);
}
